.bookForm {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight:20px;
    font-size: 30px;
    border: 10px solid #f1f1f1;
    border-radius:  4px solid white;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-0%, -0%);
    z-index: 2;
    width: 600px;
    padding: 30px;
    text-align: left;
 
  }